<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--首页地址-->
    <!--<add key="homeUrl" value="http://zwfw.sd.gov.cn" />-->
    <!--<add key="homeUrl" value="http://www.pconline.com.cn" />-->
    <add key="homeUrl" value="file:///D:/Study/WinFromChromium/WindowsFormsApplication1/WindowsFormsApplication1/test1.html" />
    
    <!--<add key="homeUrl" value="http://localhost:8099/test1.html" />-->
    <!--是否全屏-->
    <add key="isFullScreen" value="true" />
    <!--输入法路径-->
    <add key="srfPath" value="C:\\DWIme\\dwCmd.exe" />

  </appSettings>
</configuration>